body {
    margin: 0;
}

.prtitle {
    display: flex;
    align-items: center;
    margin: 10px 20px 10px 20px;
    background-color: aqua;
    border: 2.5px solid gold;
    border-radius: 10px;
    height: 50px;
    max-width: unset;
}

.prh1 {
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
    margin-right: auto;
    margin-left: auto;
}

.prlarge {
    display: block;
    width: 40%;
    border: 2.5px solid black;
    border-radius: 5px;
    margin-left: 20px;
}

/*.prs2 {
    text-align: left;
    align-items: left;
}*/

.prmeta {   
    display: flex;
    flex-direction: column;
}

.prh2 {
    margin: 0 0 0 20px;
    font-size: 40px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    align-self: flex-start;
    display: inline-block;
}

.prprice {
    font-size: 30px;
    margin: 0 0 0 20px;
    padding-top: 10px;

}

.prhead {
    display: flex;
    margin-top: 20px;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: left;
}

.prinfo {
    padding-top: 15px;
    margin: 0 0 0 20px;
    font-size: 20px;
    list-style-type: circle;
    padding-left: 20px;
}